
{% extends 'todos/base.html' %}
{% block content %}
    <h1>{{ todo.title }}</h1>
    <div style="text-align: right">
        
            <a href="{% url 'cbv_todo_update' todo.id %}"> 수정</a>
            <a href="{% url 'cbv_todo_delete' todo.id %}"> 삭제하기</a>
    </div>
        {% for key, value in todo.items %}
            {% if key != 'title' and key != 'id' and key != 'user_id' and key != '_state'%}
                    <p>
                        {{ key }}<br>
                        <u>{{ value }}</u></p>
            {% endif %}
        {% endfor %}


{% endblock %}