{% extends 'todos/base.html' %}
{% block content %}
        <h1>{{ request.user.username }}'s Todo List</h1>
    {% if request.user.is_authenticated %}
        <p style="text-align: right">
        <a href='{% url 'cbv_todo_create' %}'>글 생성</a>
    </p>
    <form method="get" style="margin-bottom: 10px;">
        <input name="q" type="text" placeholder="검색어를 입력해주세요" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %} ">
        <button>검색</button>

    </form>
    <ul>
        {% for todo in page_obj.object_list %}
            <li><a href="{% url 'cbv_todo_info' todo.id %}">{{ todo.title }}</a></li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; 첫번째</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">이전</a>
        {% endif %}
    {#현재 페이지 -2 > 1 보다 크면 #}
        {% if page_obj.number|add:-2 > 1 %}
            <a href="?page={{ page_obj.number|add:-3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
        {% endif %}

    {#15페이지까지 1~15#}
        {% for i in page_obj.paginator.page_range %}
        	{% if page_obj.number == i %}
                <span>(현재 페이지)</span>
                {# 현제페이지 -3 < i < 현제페이지+3 #}
            {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3%}
                <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
        {% endif %}
    </div>
    {% endif %}


{% endblock %}