{% extends 'registration/base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>로그인</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm form-control">로그인하기</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">아직 회원이 아니라면?</p>
                    <a href="{% url 'cbv_signup' %}" class="btn btn-outline-secondary btn-sm">회원가입 하기</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}